.jumbotron {
	background:  url('../images/Header/Header_3.jpg');
	-webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;;
	height: 100vh;
}