.jumbotron {
	background:  url('../images/Header/Header_3.jpg') center;
	-webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;;
	height: 100vh;
}

.item{
    margin: 5%;
    width: 14%;
    padding-top:14%;
}
