doctype html
html
  head(lang='en-US')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1')
    meta(name='viewport', content='width=device-width')
    meta(name='description', content='tattoo design Jewellery')
    title Tattoo Tesign Jewellery
    script(type='text/javascript', src='js/lib/jQuery/jquery-3.1.1.js')
    link(rel='stylesheet', href='css/lib/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='css/styles.css')
  body
    #page1
      .jumbotron
        .hamburgerDiv
          div
            button.hamburger &#x2630;
          .menu
            nav
              ul
                li
                  a(href='#page1') home
                li
                  a(href='#page2') webshop
                li#showContact
                  a(href='#contact') contact
                li
                  a.shopButton(href='#') shopping cart
        #contact
          a.facebook(href='#', title='Facebook')
          a.instagram(href='#', title='Instagram')
          a.email(href='#', title='Behance')
          h2 HALLO GORGEOUS
          br
          p
            | want to know what we are up to? Check us out on social media.
            br
            |  Or send us a mail.
            br
            |  for cats klick
            a(href='https://www.google.nl/search?q=crazy+funny+cats&espv=2&biw=1280&bih=643&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjr3Nu5v-PRAhVByRQKHZ1bBBQQ_AUIBigB#tbm=isch&q=crazy+cats', target='_blank')
              span
              |  here.
            | . Enjoy!
            br
            |
            button.socialMedia
              img(src='images/icons/pintrest.svg')
            |
            button.socialMedia
              img(src='images/icons/facebook.svg')
            |
            button.socialMedia
              img(src='images/icons/pintrest.svg')
            |
            button.socialMedia
              img(src='images/icons/mail.svg')
        #login
          .page-header
            h3 continue with
          form.form-horizontal(method='POST', action='/login')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
              label.col-sm-3.control-label(for='email') Email
              .col-sm-7
                input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
            .form-group
              label.col-sm-3.control-label(for='password') Password
              .col-sm-7
                input.form-control(type='password', name='password', id='password', placeholder='Password', required)
            .form-group
              .col-sm-offset-3.col-sm-7
                button.col-sm-3.btn.btn-primary(type='submit')
                  i.fa.fa-user
                  | Login
                a.btn.btn-link(href='/forgot') Forgot your password?
            .form-group
              .col-sm-offset-3.col-sm-7
                hr
            .form-group
              .col-sm-offset-3.col-sm-7
                a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
                  i.fa.fa-facebook
                  | Sign in with Facebook
        .font
          h1#anodyne
            | Tattoo
            br
            |  Design
            br
            |  Jewellery
    #page2
      .shopping_container
        ul.shopping_list
          li.shopping_list_item
            img(alt='Watch by Tattoo Design Jewellery', title='New Season Clock by Tattoo Design Jewellery', src='images/Products/watch_thumbnail.jpg')
            .preview
              .preview_img
                img(alt='Watch 1', title='New Season Watch by Tattoo Design Jewellery', src='images/Products/watch.jpg')
              .preview_text
                h1 Secret Shadow
                p
                  | This substantial bracelet straps on with the force of a prison shackle. The only difference is you won&rsquo;t be fighting to take it off any time soon. There may be small differences between the pictured sterling silver piece and its stainless steel counterpart. The steel pieces may have slightly less detail than the handcrafted silver version.
                p 87.30 &euro;
                |
                button.addToCart(name='Secret Shadow', value='87,30') Add me to your collection
          li.shopping_list_item
            img(alt='Sleepy cat with awesome watch by Tattoo Design Jewellery', title='New Season Watch by Tattoo Design Jewellery', src='images/Products/cat_thumbnail.jpg')
            .preview
              .preview_img
                img(alt='Watch 1', title='New Season Watch by Tattoo Design Jewellery', src='images/Products/cat.jpg')
              .preview_text
                h1 Silver Love
                p
                  | A collaboration with Chino at Black Widow Tattoo, this ring takes its name from Tartarus &mdash; the dark underworld of Greek mythology where souls were judged and the wicked received eternal punishment. There may be small differences between the pictured sterling silver piece and its stainless steel counterpart. The steel pieces may have slightly less detail than the handcrafted silver version.
                p 412.00 &euro;
                |
                button.addToCart(name='Silver Love', value='412,00') Add me to your collection
          li.shopping_list_item
            img(alt='Clock by Tattoo Design Jewellery', title='New Season Clock by Tattoo Design Jewellery', src='images/Products/clock_thumbnail.jpg')
            .preview
              .preview_img
                img(alt='Watch 1', title='New Season Watch by Tattoo Design Jewellery', src='images/Products/clock.jpg')
              .preview_text
                h1 Sailors Heaven
                p
                  | The nice thing about wearing a chain with a big ol&rsquo; tomahawk on it is that it speaks for itself. Know what I mean? Comes on a 30-inch 3mm gauge stainless steel chain. Silver version has custom sterling silver hardware. There may be small differences between the pictured sterling silver piece and its stainless steel counterpart. The steel pieces may have slightly less detail than the handcrafted silver version.
                p 46.23 &euro;
                |
                button.addToCart(name='Sailors Heaven', value='46,23') Add me to your collection
          li.shopping_list_item
            img(alt='Sleepy cat with awesome watch by Tattoo Design Jewellery', title='New Season Watch by Tattoo Design Jewellery', src='images/Products/cat_thumbnail.jpg')
            .preview
              .preview_img
                img(alt='Watch 1', title='New Season Watch by Tattoo Design Jewellery', src='images/Products/cat.jpg')
              .preview_text
                h1 Miauuu
                p
                  | We all know the legend: As the full moon rises, the crazies come out to play. Featuring a pair of howling wolves, this cuff is a reminder to let your inner animal off the leash, regardless of where we are in the lunar cycle. There may be small differences between the pictured sterling silver piece and its stainless steel counterpart. The steel pieces may have slightly less detail than the handcrafted silver version.
                p 26.47 &euro;
                |
                button.addToCart(name='Miauuu', value='26,47') Add me to your collection
          li.shopping_list_item
            .sold_out
              img(alt='Clock by Tattoo Design Jewellery', title='New Season Clock by Tattoo Design Jewellery', src='images/Products/clock_thumbnail.jpg')
              h1
                | SORRY
                br
                |  SOLD OUT
            .preview
              .preview_img
                img(alt='Watch 1', title='New Season Watch by Tattoo Design Jewellery', src='images/Products/clock.jpg')
              .preview_text
                h1 Title of Item
                p Description of Item
                p Price
                |
                button
          li.shopping_list_item
            img(alt='Watch by Tattoo Design Jewellery', title='New Season Clock by Tattoo Design Jewellery', src='images/Products/watch_thumbnail.jpg')
            .preview
              .preview_img
                img(alt='Watch 1', title='New Season Watch by Tattoo Design Jewellery', src='images/Products/watch.jpg')
              .preview_text
                h1 Lady in Black
                p
                  | Archers were a vital addition to any medieval army, and from high in the turrets, skilled bowmen were often the only hopes of holding off a violent usurping. This ring is for the sharpshooters working to prevent the siege. There may be small differences between the pictured sterling silver piece and its stainless steel counterpart. The steel pieces may have slightly less detail than the handcrafted silver version.
                p 10.99 &euro;
                |
                button.addToCart(name='Lady in Black', value='10,99') Add me to your collection
    .switch.shoppingCart
      .shoppingCartLook
        div
          h1.shoppingCartTitle
            | Shopping cart
            h1
        div
          table
            tr
              th
              th Price
              th Item
            tr
              td
              td 10,99
              td watch
            tr
              td
              td 510,99
              td cat
            tr
              td
              td 35,99
              td silver ring with no stones
            tr
              td total cost
              td 557,97
              td
            | &gt;
            p U have all u want?
          div
            li#showPayPage
              a(href='#login') next
    script(type='text/javascript', src='js/custom.js')
