
/* Custom CSS for Tattoo Design Webpage*/
/* FONTS */
@font-face {
  font-family: 'Anodyne';
  src: url('../fonts/Anodyne/f4258f11-b720-4398-8e6e-9d384824b6f0.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Anodyne/365aff48-07e3-4a81-871f-f4fdf0d5f04b.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Anodyne/8312f781-2ff7-43ff-bcb2-a15f3e8ab027.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Anodyne/b8fd6352-55cc-4d34-91d6-400e852f539b.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'DistantStroke_Medium';
  src: url('../fonts/Distant_stroke/Distant_Stroke_Medium.otf') format('opentype');
}

@font-face {
  font-family: 'ShoppingScript';
  src: url('../fonts/Shopping_script/ShoppingScriptDemo.ttf') format('truetype');
}

body, html {
  font-size: 100%;
}

/*** Jumbotron Section ***/
#anodyne{
  font-family: "Anodyne";
  font-size: 5em;
  margin-left: 5%;
  color: white;
}

#shopping{
  font-family: "ShoppingScript";
  font-size: 90px;
}

.jumbotron {
	background:  url('../images/Header/Header_6.jpg');
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 100vh;
  z-index: -1;
}

.jumbotron {
  /**-webkit-animation: fadeinout 6s linear forwards;
  animation: fadeinout 6s linear forwards;**/
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}
/*** Navigation Section ***/
.hamburgerDiv{
  right: 0%;
  position:fixed;
  z-index:100000;
}

.hamburger{
  background:none;
  float: right;
  right: 3%;
  height: 0%;
  position:fixed;
  padding:5px 15px 0px 15px;
  color: white;
  border:1px;
  font-size:2.1em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:100000;
}

.menu{
	z-index:1000000;
  float: right;
  margin-top: 55px;
	right: 0%;
	position:fixed;
	font-size:1.0em;
	width:140px;
  background:#131313;
	opacity: 0.5;
	}

.menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.menu li {
	display: block;
	padding:15px 0 15px 0;
	border-bottom:#1d1f20 1px solid;
  text-align:center;
}

.menu a {
  display: block;
}

.menu ul li a {
	text-decoration:none;
	margin: 0px;
	color:#fff;
}

.menu ul li a:hover {
  color: white;
  background: gray;
}

/*** Shopping Cart Section***/
.shoppingCart {
  display: none;
}

.shoppingCartLook {
  position: fixed;
  left:15%;
  top:10%;
  right:15%;
  bottom:10%;
  z-index: 3;
  border: 4px solid black;
  background: black;
  opacity: 0.9;
}

.shoppingCartTitle {
  font-size: 3.5em;
  position: relative;
  left: 0;
  top: 10%;
  width: 100%;
  text-align:center;
}
.table {
  border-collapse: separate;
  empty-cells: hide;
  position: relative;
  left: 15%;
}
.table, th, td {
  font-size: 1em;
  margin: 20%;
  text-align: center;
  width: 25%;
}

#paybutton {
	z-index:1000000;
  float: right;
  margin-top: 40px;
	right: 10%;
	position:fixed;
	font-size:1.0em;
  text-align: center;
  color: white;
	width:80%;
  height: 80%;
  background:#131313;
	opacity: 0.8;
}

#paybutton h2, h1 {
  font-family: "ShoppingScript";
}

/*** Contact Section ***/
#contact {
	z-index:1000000;
  float: right;
  margin-top: 40px;
	right: 25%;
	position:fixed;
	font-size:1.0em;
  text-align: center;
  color: white;
	width:50%;
  background:#131313;
	opacity: 0.8;
}

#contact h2, h1 {
  font-family: "ShoppingScript";
}

.socialMedia {
 width: 44px;
 height: 44px;
 background:#131313;
 border-radius: 90px;
 border: none;
}

.socialMedia img {
  width: 100%;
  height: 100%;

}

.socialMedia img:hover {
  opacity:0.8;
  width: 95%;
  height: 97%;

}
/*** payment section of the page***/
#login {
	z-index:1000000;
  float: right;
  margin-top: 40px;
	right: 25%;
	position:fixed;
	font-size:1.0em;
  text-align: center;
  color: white;
	width:50%;
  background:#131313;
	opacity: 0.8;
}

form.form-horizontal {
  margin-top: 2em;
}

#payment {
	z-index:1000000;
  float: right;
  margin-top: 40px;
	right: 25%;
	position:fixed;
	font-size:1.0em;
  text-align: center;
  color: white;
	width:50%;
  background:#131313;
	opacity: 0.8;
}

/*** Shopping Grid Section ***/
.shopping_container {
  width: 100%;
}

.shopping_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: center;
}

.shopping_list_item {
  margin: 1.3em;
}

.shopping_list_item img {
  width: 300px;
  height: 300px;
  opacity: 1;
  cursor: pointer;
  border-radius: 3px;
}

.shopping_list_item > img:hover {
  opacity: .7;
}

.sold_out {
  position: relative;
  -webkit-filter: blur(4px);
	filter: blur(4px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.sold_out:hover {
  -webkit-filter: blur(0);
  filter: blur(0);
}

.sold_out img {
  cursor: default;
}

.sold_out h1 {
  font-size: 40px;
  position: absolute;
  text-align: center;
  top: 85px;
  left: 50px;
  color: #fff;
  cursor: default;
}

.preview {
  display: none;
}

.example {
  z-index: 1000;
   display: block;
   position: fixed;
   height: 500px;
   width: 100%;
   left: 0;
   top: 10%;
   background-color: #F1F1F1;
   text-align: center;
}

.preview_img, .preview_text {
  text-align: center;
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
  overflow: hidden;
  padding-right: 70px;
}

.preview_img img {
  height: 400px;
  width: auto;
  float: left;
  display: inline-block;
  margin: 50px 0 50px 50px;
  cursor: default;
}

.preview_text h1 {
  margin-top: 50px;
  font-size: 90px;
  font-family: "ShoppingScript";
}

.preview_text p:nth-child(3) {
  font-weight: bold;
  margin: 30px 0;
}

.preview button {
  background-color: #F1F1F1;
  color: black;
  border: 2px solid #555555;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 2px;
}

.preview button:hover  {
    background-color: #555555;
    color: white;
}
